<!DOCTYPE html>
<html lang="en" ng-app="movieApp">
    <head>
        <title>Angular Material - Movie Demo</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="">
        <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

        <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
        <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
        <link rel="stylesheet" href="assets/app.css"/>
    </head>

    <body layout="column" ng-controller="appCtrl">
        <md-toolbar layout="row">
            <md-button class="menu" ng-click="toggleSidePanel()" aria-label="Settings">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1>Angular Material - Movie Demo</h1>
        </md-toolbar>

        <div flex layout="row">
            <md-sidenav class="md-whiteframe-z2" md-component-id="leftPanel">
                <md-list>
                    <md-button ng-click="goToPath('/movies/search')">Search</md-button>
                    <md-button ng-click="goToPath('/movies/result')">Result</md-button>
                </md-list>
            </md-sidenav>

            <md-content flex>
                <div ng-view></div>
            </md-content>
        </div>

        <script src="./bower_components/angular/angular.js"></script>
        <script src="./bower_components/angular-animate/angular-animate.js"></script>
        <script src="./bower_components/angular-aria/angular-aria.js"></script>
        <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
        <script type="text/javascript" src="./bower_components/angular-resource/angular-resource.js"></script>
        <script type="text/javascript" src="./bower_components/angular-route/angular-route.js"></script>

        <!-- Do not specify script type as Javascript, else it wouldn't work -->
        <script src="./js/app.js"></script>
        <script src="./js/controllers.js"></script>
        <script src="./src/movies/Movies.js"></script>
        <script src="./src/movies/MovieService.js"></script>

        <script type="text/javascript">

            angular
                .module('movieApp', ['ngMaterial', 'movies', 'app'])
                .config(function($mdThemingProvider, $mdIconProvider){

            $mdIconProvider
                .defaultIconSet("./assets/svg/avatars.svg", 128)
                .icon("menu"       , "./assets/svg/menu.svg"        , 24)
                .icon("share"      , "./assets/svg/share.svg"       , 24)
                .icon("google_plus", "./assets/svg/google_plus.svg" , 512)
                .icon("hangouts"   , "./assets/svg/hangouts.svg"    , 512)
                .icon("twitter"    , "./assets/svg/twitter.svg"     , 512)
                .icon("phone"      , "./assets/svg/phone.svg"       , 512);

            $mdThemingProvider
                .theme('default')
                .primaryPalette('blue')
                .accentPalette('red');

            })
            .controller('appCtrl',
            [
                '$scope',
                '$location',
                '$mdSidenav',
                function($scope, $location, $mdSidenav)
                {
                    $scope.toggleSidePanel = function()
                    {
                        $mdSidenav('leftPanel').toggle();
                    }

                    $scope.goToPath = function(path)
                    {
                        $location.path(path);
                        $mdSidenav('leftPanel').toggle();
                    }
                }
            ]);

        </script>

    </body>
</html>
